*.launch
.DS_Store
.classpath
.coverage
.direnv
.env
.env*.local
.netlify
.output
.project
.pytest_cache
.settings/
.solid
.vercel
.vinxi
/.idea
/node_modules
Thumbs.db
__pycache__
dist
gitignore
src/gql
src/routes/(generated)
